* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    max-height: 100vh;
    overflow: hidden;
}

#__next {
    height: 100%;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #5c5c5c;
    border-radius: 100vh;
    margin: 1rem 0;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(31, 31, 31);
    border-radius: 100vh;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

footer {
    margin-top: auto;
}