* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
}

#__next {
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}